h1 {

}

h2 {
  color: $secondary;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 30px;

  &.h2--white {
    color: #fff;
  }
}

h3 {
  font-size: 20px;
  color: $secondary;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 30px;
}

h4 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;

  &.h4--white {
    color: #fff;
  }
  
  &.h4--colored {
    color: $secondary;
    
    a {
      color: $secondary;
      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }
}

p {
  color: #000;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;

  &.p--white {
    color: #fff;
  }
  
  &.p--colored {
    color: $secondary;
  }

  &.p--sm {
    font-size: 13px;
  }

  a {
    color: #1635b8;
    
    &.a--dark {
      color: #000;
    }
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {

  li {

  }
}

ol {

  li {

  }
}

table {

}

tr {

}

th {

}

td {

}

a {
  
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {

}

button {
  cursor: pointer;
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {

}

blockquote {
  color: $secondary;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
  border-top: 2px solid $secondary;
  border-bottom: 2px solid $secondary;
  margin: 40px 0;
}
