mixin news(picture, title, dscr, modifier)
  .news&attributes(attributes)
    .news__content
      if picture != ''
        a.news__picture(href="#", style="background-image: url(./img/" + picture + ");")
          if modifier == 'news--photo'
            .news__counter 125 фото
      +stats('4844', '22 января 2018')(class="news__stats")
      h4.news__title.mt-25.mb-0
        a.news__header(href="#")= title
      if dscr != ''
        p.font-weight-light.mt-30.mb-0= dscr
    .news__socials
      span.news__socials-header Поделиться
      +socials