.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
  &__content {
    
  }
  
  &__picture {
    max-width: 100%;
    height: 220px;
    background-position: top center;
    background-size: cover;
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  &__counter {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background: $secondary;
    width: 92px;
    height: 31px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 15px;
    right: 15px;
    position: absolute;
  }
  
  &__header {
    color: #000;
    @include transition;
    
    &:hover {
      color: $primary;
    }
  }
  
  &__socials {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  &__socials-header {
    margin-right: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #000;
  }
  
  &--video {
    
    .news__picture {
    
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(39, 61, 129, 0.69) url(../img/play.png) no-repeat center;
      }
    }
  }
  
  &--short {
    
    .news__content {
      display: flex;
      flex-direction: column;
    }
    
    .news__stats {
      order: 2;
      margin-top: 20px;
    }
    
    .news__title {
      order: 1;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}