/* Bootstrap */

.btn {
  border-radius: 2px;
  padding: 2px 14.14px;
  font-family: $font-secondary;
  font-weight: 700;

  &.btn-primary {
    
    &:hover {
      color: #000;
    }
  }
}

.custom-select {
  
}


/* Slick */

.slick-dots {
  display: flex;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: -50px;

  @include media-breakpoint-down(sm) {
    position: static;
    margin-top: 0;
    justify-content: center;
  }
  
  li {
    list-style: none;
    
    &+li {
      margin-left: 13px;
    }
    
    &.slick-active {
      
      button {
        border-color: #7690b1;
        background: #7690b1;
      }
    }
    
    button {
      font-size: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      background: #fff;
    }
  }
}

.slick-track {
  display: flex;
  align-items: stretch;
  
  .slick-slide {
    height: auto;
    display: flex;
    
    & > div {
      display: flex;
      width: 100%;
    }
    
    .front__item {
      display: inline-flex!important;
      flex-direction: column;
    }
    
    .front__wrapper {
      flex-grow: 1;
    }
  }
}