.sidebar {
  padding-top: 10px;
  padding-left: 15px;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
    padding-left: 0;
    border-top: 1px solid #afb3c7;
    padding-top: 30px;
  }
  
  &__news {
    
    &+& {
      margin-top: 40px;
    }
  }
  
  &__list {
  
    &+& {
      margin-top: 40px;
    }
  }
}
