include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/news/news.pug
include ../blocks/section/section.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/article/article.pug
include ../blocks/stats/stats.pug
include ../blocks/event/event.pug
include ../blocks/select/select.pug
include ../blocks/input/input.pug
include ../blocks/modal/modal.pug
include ../blocks/document/document.pug
include ../blocks/map/map.pug
include ../blocks/press/press.pug
include ../blocks/quote/quote.pug
include ../blocks/media/media.pug
include ../blocks/activity/activity.pug
include ../blocks/about/about.pug
include ../blocks/tag/tag.pug
include ../blocks/list/list.pug
include ../blocks/short-document/short-document.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/contacts/contacts.pug
include ../blocks/winner/winner.pug
include ../blocks/filters/filters.pug
include ../blocks/date/date.pug
include ../blocks/sections-list/sections-list.pug
include ../blocks/link/link.pug
include ../blocks/wrapper/wrapper.pug
