.press {
  
  &__materials {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__photos {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__person {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }
  
  &__person-photo {
    flex-shrink: 0;
  }
  
  &__person-content {
    margin-left: 20px;
  }
  
  &__photos-wrapper {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  
  &__person-photo {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-position: top center;
    background-size: cover;
    display: block;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    
    &+& {
      margin-left: 27px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }
  
  &__photos-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__presentations {
    background: $secondary;
    padding: 20px 25px;
    border-radius: 10px;
  }
}