.breadcrumbs {
  background: #eff1f9;
  border-radius: 2px;
  padding: 5.5px 16px;
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 45px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  &__item {
    color: #283d79;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    display: flex;
    align-items: center;
      
    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 9px;
      background: url(../img/arrow--fancy.png) no-repeat;
      background-size: contain;
      margin: 0 8px;
    }
    
    &:last-child {
      
      &:after {
        display: none;
      }
    }
    
    &--current {
      color: #000;

//      @include media-breakpoint-down(sm) {
//        width: 100%;
//      }
//      
//      &:before {
//
//        @include media-breakpoint-down(sm) {
//          display: none!important;
//        }
//      }
    }
  }
}
