mixin breadcrumbs(section1, section2, modifier)
  .breadcrumbs&attributes(attributes)
    a.breadcrumbs__item(href="#") РМЦ
    if section1 != ''
      a.breadcrumbs__item(href="#")= section1
    span.breadcrumbs__item.breadcrumbs__item--current= section2