.short-document {
  display: flex;
  margin-bottom: 20px;
  
  &__icon {
    flex-shrink: 0;
    width: 50px;
    height: 57px;
    background: url(../img/pdf.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  
  &__content {
    
  }
  
  &__title {
    font-size: 12px!important;
    
    a {
      color: #000;
      @include transition;
      
      &:hover {
        color: $primary;
      }
    }
  }
  
  &__info {
    
  }
  
  &--white {
    
    .short-document__title {
      color: #fff;
      
      a {
        color: #fff;
        @include transition;

        &:hover {
          color: $primary;
        }
      }
    }
    
    .short-document__info {
      color: #fff;
    }
  }
}
