mixin short-document(title, modifier)
  .short-document&attributes(attributes)
    .short-document__icon
    .short-document__content
      p.short-document__title.p--sm.font-weight-bold.mb-0
        a(href="#")= title
      p.short-document__info.p--sm.mb-0 pdf, 4 mb