.filters {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
  &__select {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    border-radius: 2px;
    border: 0;
    padding-right: 35px;
    width: auto;
    background: #eff1f9 url(../img/arrow.png) no-repeat right 13px center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
    }
    
    &+& {
      margin-left: 10px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  
  &__dates {
    display: flex;
    align-items: center;
    margin-left: 7px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
  &__dates-text {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin: 0 10px;
    white-space: nowrap;
  }
  
  &__date {
    width: 86px;
    height: 36px;
    border-radius: 2px;
    padding-left: 40px;
    background: #eff1f9 url(../img/calendar.png) no-repeat 9px center;
    border: 0;
    color: #000;
    font-size: 13px;
    font-weight: 400;
  }
}