mixin filters(modifier)
  form.filters(action="#", method="GET")&attributes(attributes)
    select.custom-select.filters__select
      option(disabled, selected) Тип мероприятий
      option Мероприятие 1
      option Мероприятие 2
    select.custom-select.filters__select
      option(disabled, selected) Город
      option Москва
      option Санкт-Петербург
    select.custom-select.filters__select
      option(disabled, selected) Дата проведения
      option 09.05.2018
      option 22.01.2018
    .d-flex.justify-content-center.align-items-center.ml-md-20.ml-lg-40.mt-20.mt-md-0
      button.btn.btn-secondary.py-5(type="submit") Показать
      a.btn.btn-link.text-secondary.ml-10(href="#") Сбросить
    //.filters__dates
      span.filters__dates-text Диапазон дат: с
      input.date.filters__date(value="10.05")
      span.filters__dates-text по
      input.date.filters__date(value="20.05")