.section {
  width: 100%;

  &:hover {
    color: $primary;
    
    .section__picture {
      opacity: .85;
    }
  }
  
  &__picture {
    height: 420px;
    width: 100%;
    border-radius: 10px;
    background-position: top center;
    background-size: cover;
    @include transition;

    @include media-breakpoint-down(sm) {
      height: 150px;
    }
  }
  
  &__header {
    color: #282828;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 1.5;
    }
  }
}
