.article {
  padding-right: 25px;
  border-right: 1px solid $border-color;
  margin-right: -10px;

  @include media-breakpoint-down(md) {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
  }
  
  &__front {
    background: #1f477f;
    border-radius: 10px;
    padding: 40px 30px;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
    
    h2 {

      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
  }
  
  &__front-bottom {
    
  }
  
  .img-fluid {
    margin-bottom: 25px;
  }
}
