.socials {
  display: flex;
  
  &__item {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 2px;
    }
    
    &--tw {
      background: url(../img/tw.png) no-repeat;
      background-size: cover;
    }
    
    &--vk {
      background: url(../img/vk.png) no-repeat;
      background-size: cover;
    }
    
    &--fb {
      background: url(../img/fb.png) no-repeat;
      background-size: cover;
    }
    
    &--ig {
      background: url(../img/ig.png) no-repeat;
      background-size: cover;
    }
  }
  
  &--gray {
  
    .socials__item {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 0;

      &+.socials__item {
        margin-left: 7px;
      }

      &--tw {
        background: url(../img/tw--gray.png) no-repeat;
        background-size: cover;
      }

      &--vk {
        background: url(../img/vk--gray.png) no-repeat;
        background-size: cover;
      }

      &--fb {
        background: url(../img/fb--gray.png) no-repeat;
        background-size: cover;
      }

      &--ig {
        background: url(../img/ig--gray.png) no-repeat;
        background-size: cover;
      }
    }
  }
  
  &--dark {
  
    .socials__item {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 0;

      &+.socials__item {
        margin-left: 7px;
      }

      &--tw {
        background: url(../img/tw--dark.png) no-repeat;
        background-size: cover;
      }

      &--vk {
        background: url(../img/vk--dark.png) no-repeat;
        background-size: cover;
      }

      &--fb {
        background: url(../img/fb--dark.png) no-repeat;
        background-size: cover;
      }

      &--ig {
        background: url(../img/ig--dark.png) no-repeat;
        background-size: cover;
      }
    }
  }
}
