mixin sections-list(modifier)
  .sections-list&attributes(attributes)
    .container
      .row
        if modifier == 'sections-list--fancy'
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-4.jpg', 'Работа с молодежью, находящейся в социально-опасном положении')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-2.jpg', 'Организация и сопровождение международных, всероссийских и межрегиональных мероприятий для молодёжи')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-3.jpg', 'Молодежный центр «Учино»')
        else
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-1.jpg', 'ГРАНТОВАЯ ДЕЯТЕЛЬНОСТЬ')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-2.jpg', 'Международная деятельность')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +section('section-3.jpg', 'Молодежный центр «Учино"')
