.sections-list {
  
  &--short {
    background: #f5f5f5;
    padding: 60px 0;
    
    .section__picture {
      height: 127px;
      background-position: center;
    }
  }
  
  &--fancy {
    
    .section {
      height: 566px;
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      @include media-breakpoint-down(sm) {
        height: 300px;
      }
      
      &__picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      
      &__header {
        position: relative;
        z-index: 1;
        background: $secondary;
        color: #fff;
        font-size: 20px;
        font-family: $font-family-base;
        font-weight: 700;
        line-height: 25px;
        text-transform: none;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 145px;

        @include media-breakpoint-down(sm) {
          min-height: 0;
          padding: 20px;
          font-size: 17px;
        }
      }
    }
  }
}
