.tag {
  color: #404a75;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  min-width: 145px;
  padding-bottom: 10px;
  margin-right: 15px;
  display: inline-block;
    
  &:hover {
    font-weight: 700;
    left: -1px;

    .tag__socials {
      display: flex;
    }
  }
  
  &__content {
    
  }
  
  &__socials {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #6c80bf;
    border-radius: 100px;
    padding: 5px;
    margin-top: 10px;
    background: #fff;
    z-index: 1;
    
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    
    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      top: -7px;
      background: #fff;
      left: 50%;
      position: absolute;
      border: 1px solid #6c80bf;
      margin-left: -7px;
      z-index: 0;
    }
  }
}
