.footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: $secondary url(../img/dots--footer.png) no-repeat bottom center;
  
  &__about {

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  &__section-header {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: $font-secondary;
    line-height: 22px;
    margin-bottom: 15px;
  }
  
  &__about-dscr {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
  }
  
  &__about-link {
    margin-top: 20px;
    color: $primary;
    font-family: $font-secondary;
    font-size: 13px;
    line-height: 22px;
    display: block;
  }

  &__fadm {
    width: 62px;
    height: 83px;
    background: url(../img/fadm-logo--big.png) no-repeat;
    background-size: contain;
    display: block;
    margin-top: 30px;
  }
}