mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-md-8.col-lg-3
          +logo(class="logo--white")
        .col-md-4.col-lg-2
          +menu(class="menu--footer")
        .col-sm-8.col-lg-5.col-xl-4
          .footer__about
            h4.footer__section-header О центре
            p.footer__about-dscr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы
            a.footer__about-link(href="#") Подробнее
        .col-sm-4.col-lg-2.offset-xl-1
            h4.footer__section-header Мы в соцсетях
            +socials(class="socials--gray")
            a.footer__fadm(href="#")