.document {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 20px 20px 25px;
  
  &+& {
    margin-top: 30px;
  }
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__header-title {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 57px;
      background: url(../img/file.png) no-repeat;
      background-size: contain;
      margin-right: 25px;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }
  }
  
  &__file {
    display: flex;
    align-items: center;
    margin-left: 50px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  
  &__file-info {
    color: #000;
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px;
    text-align: center;
  }
  
  &__content {
    
  }
  
  &__footer {
    margin-top: 20px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__source {
    margin-left: 25px;
    color: #2a2c37;
    font-size: 13px;
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}