mixin document(modifier)
  .document&attributes(attributes)
    .document__header
      .document__header-title Название документа в несколько строк возможно даже в четыре пять строк, если длинное название документа
      if modifier == 'document--internal'
        .document__file
          .document__file-info DOC <br>4 mb
          a.btn.btn-primary(href="#") Скачать
    .document__content
      p.p--colored.mb-15 Краткое содержание
      p.mb-0 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
    if modifier == 'document--external'
      .document__footer
        a.btn.btn-primary(href="#") Скачать с внешнего источника
        a.document__source(href="#") nazvanie-istochnika.ru
