.link {
  color: $secondary;
  font-size: 20px;
  font-weight: 700;
  height: 90px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid $secondary;
  display: flex;
  align-items: center;
  background-position: left 25px center;
  background-repeat: no-repeat;
  padding-left: 0;
  justify-content: center;
  @include transition;

  @include media-breakpoint-down(md) {
    background: transparent!important;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  &:hover {
    opacity: .7;
    color: $secondary;
  }
}
