extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'О центре')
        h2.mb-35 О центре
        +quote
        .row.my-40
          .col-md-6
            p Федеральное государственное бюджетное учреждение  «Ресурсный Молодежный Центр» подведомственное учреждение Федерального агентства по делам молодежи.
            p Деятельность Центра:
            ul
              li Секретариат Всероссийского конкурса молодежных проектов;
              li развитие Молодежного центра «Учино»;
              li развитие международного молодёжного сотрудничества;
              li выполнение функций Российского координационного бюро по молодёжным обменам с ФРГ;
              li выполнение функций координационного бюро Российско-Японских молодёжных обменов;
              li Секретариат межведомственного Совета по делам молодёжи при Правительственной комиссии по делам соотечественников за рубежом;
              li работа с молодежью, находящейся в социально-опасном положении;
              li организация и сопровождение международных, всероссийских и межрегиональных мероприятий для молодёжи.
          .col-md-6
            p На сегодняшний день, молодежь – движущая сила Российской Федерации. Благодаря активным и целеустремленным молодым людям наша страна развивается и прогрессирует. Именно мысли, идеи и стремления молодежи помогают сформировать устойчивое будущее в укреплении внешней и внутренней политике, экономике, социальной и творческой сферах. А энтузиазм, желание и стремление – помогают в усовершенствовании и переходе на новый уровень развития.
            p Деятельность Федерального государственного бюджетного учреждения «Ресурсный Молодежный Центр» направлена на взаимодействие и сотрудничество с молодежью нашего государства, молодыми соотечественниками, проживающими за рубежом, а также с иностранными гражданами, которые заинтересованы в формировании общего вектора развития и поддерживающие идею консолидации русскоязычной молодежи.
            p Убежден, что работа над собой и в командных условиях является малой, но очень важной частью в укреплении взаимоотношений и реализации глобальных целей.
            p Желаю успехов и всего самого доброго!
        //h3.mt-45.mb-30 Подзаголовок в статье
        //p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса //молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища (колледжа) олимпийского резерва.
        //p Сотрудники Регионального молодежного центра представят оргкомитету форума проекты программ образовательных площадок форума, организаторами которых выступит Югра. На первой смене форума, которая пройдет с 20 по 25 июня, Югра представит образовательную площадку «Урал политической». На второй – федеральной – смене округ организует площадку «Урал технологичный». Отметим, что квота для югорской делегации для участия в форуме составляет 50 человек на каждую смену – в общей сложности 100 молодых югорчан примут участие в форуме «УТРО – 2018».
        //p Также, на совещании будут обсуждены арт-объекты регионов, темой для которых в 2018 году выбрана тема «Личность в пространстве или пространство для личности».
        .row
          .col-sm-4.mb-20.mb-sm-0
            +link('link-1.png', 'Структура')
          .col-sm-4.mb-20.mb-sm-0
            +link('link-2.png', 'Реквизиты')
          .col-sm-4.mb-20.mb-sm-0
            +link('link-3.png', 'Обратиться в центр')
        h2.mt-20.mt-sm-40 Новости
        .row.mb-50
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
          .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
            +news('news-3.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')