extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Деятельность')
        h2 Деятельность
        +activity('activity-1.jpg', 'Грантовая поддержка', 'Информация о грантах', 'Фонд президентских грантов', 'Молодежные коллективы', 'Вузы')
        +activity('activity-2.jpg', 'Международная деятельность', 'Секретариат Межведомственного совета ПКДСР ', 'Российское координационное бюро по молодёжным обменам с ФРГ', 'Координационное бюро Российско-Японских молодежных обменов', 'Международное молодежное сотрудничество')
  +sections-list('sections-list--fancy')(class="sections-list--fancy mt-45 mb-55")
