extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Календарь мероприятий')
        .d-flex.flex-column.mb-30
          h2.mb-20 Календарь мероприятий
          +filters
        .row
          .col-sm-6.col-lg-4
            +event('event-1.jpg', 'Москва', 'Прими участие в Российско-Германском семинаре "Языковая анимация"')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-2.jpg', 'Санкт-Петербург', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-3.jpg', 'Краснодар', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-4.jpg', 'Москва', 'Прими участие в Российско-Германском семинаре "Языковая анимация"')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-5.jpg', 'Санкт-Петербург', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-6.jpg', 'Краснодар', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание')(class="mb-20")
          .col-sm-6.col-lg-4
            +event('event-7.jpg', 'Москва', 'Прими участие в Российско-Германском семинаре "Языковая анимация"')(class="mb-20")
          .col-sm-6.col-lg-4.mb-40.mb-lg-0
            +event('event-8.jpg', 'Санкт-Петербург', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год')(class="mb-20")
          .col-sm-6.col-lg-4.mb-40.mb-lg-0
            +event('event-2.jpg', 'Краснодар', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание')(class="mb-20")
        .d-flex.justify-content-center.mt-15.mb-35
          a.btn.btn-primary(href="#") Загрузить еще
  +sections-list(class="sections-list--short")