extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Контакты')
        h2.mb-20.mb-sm-40 Контакты
        .row.d-flex.mb-60
          .col-sm-8.d-flex
            +map
          .col-sm-4.pl-xl-60
            div
              p.p--sm.font-weight-bold.mb-0 Адрес:
              p.p--sm.mb-0 117593, г. Москва, Литовский бульвар, дом 11, корпус 3 (метро «Ясенево»)
            .mt-30
              p.p--sm.font-weight-bold.mb-0 Телефоны:
              p.p--sm.mb-0 +7 (495) 425-39-66, <br>+7 (495) 427-91-44 Администратор <br>+7 (495) 425-67-11 Факс
            .mt-30
              p.p--sm.font-weight-bold.mb-0 E-mail:
              p.p--sm.mb-0
                a.a--dark(href="#") mmc@fadm.gov.ru
            .mt-30
              p.p--sm.font-weight-bold.mb-10 Мы в соц. сетях:
              +socials(class="socials--dark")
