extends ../templates/template.pug
block content
  +header
  .container.mb-40
    .row
      .col-12
        +breadcrumbs('', 'Документы')
    .row
      .col-lg-8
        .article
          .article__front
            h2.h2--white.mb-0 Документы
          +document('document--internal')
          +document('document--internal')
          +document('document--external')
          +document('document--external')
      .col-lg-4
        .sidebar
          h3.mb-35 Документы
          .sidebar__list
            h4.h4--colored.mb-20 Документы РеМЦ
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Закупки
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Методические рекомендации
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Конкурсы
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Внутрироссийские
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Международные
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Документы Росмолодежи 
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Отчеты
            h4.font-weight-bold.h4--colored.mb-20
              a(href="#") Другое