extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('Календарь мероприятий', 'Российско-Германский семинар')
    .row
      .col-lg-8
        .article
          .article__front
            h2.h2--white.mb-85 Российско-Германский семинар "Языковая анимация"
            .article__front-bottom
              p.p--sm.p--white.mb-5 22 января 2018
              p.p--sm.p--white.mb-0 Санкт-Петербург
          h3 Описание мероприятия
          p 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
          p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища (колледжа) олимпийского резерва.
          img.img-fluid(src="img/article-1.jpg", alt="Picture")
          p Сотрудники Регионального молодежного центра представят оргкомитету форума проекты программ образовательных площадок форума, организаторами которых выступит Югра. На первой смене форума, которая пройдет с 20 по 25 июня, Югра представит образовательную площадку «Урал политической». На второй – федеральной – смене округ организует площадку «Урал технологичный». Отметим, что квота для югорской делегации для участия в форуме составляет 50 человек на каждую смену – в общей сложности 100 молодых югорчан примут участие в форуме «УТРО – 2018».
          p Также, на совещании будут обсуждены арт-объекты регионов, темой для которых в 2018 году выбрана тема «Личность в пространстве или пространство для личности».
          p Напомним, форума молодежи Уральского Федерального округа «УТРО – 2018» пройдет с 20 по 30 июня в Курганской области, участие в нем примут порядка 1500 молодых людей в возрасте от 18 до 35 лет. Регистрация заявок на участие в форуме уже стартовала в автоматизированной информационной системе «Молодежь России» ais.fadm.gov.ru.
          h3.mt-20.mt-sm-40 Документы
          .row
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять')
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять строк, если длинное название документа')
          h3.mt-20.mt-sm-40.mb-35 Место проведения и контакты
          .row
            .col-sm-7.d-flex
              +map
            .col-sm-5
              .mb-50
                p.p--sm.font-weight-bold.mb-5 Адрес:
                p.p--sm Россия, г. Москва, Малый Конюшковский переулок, д. 2, Название объекта
              .mb-30
                p.p--sm.font-weight-bold.mb-5 Контактное лицо:
                p.p--sm Викторов Александр
              p.p--sm.mb-0 тел: + 7 925 226 99 88 <br>e-mail: sample@sample.com
      .col-lg-4
        .sidebar
          h3.mb-35 Рекомендуем посетить
          .row
            .col-sm-6.col-lg-12
              +event('event-1.jpg', 'Москва', 'Прими участие в Российско-Германском семинаре "Языковая анимация"')(class="mb-20")
            .col-sm-6.col-lg-12
              +event('event-2.jpg', 'Санкт-Петербург', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год')(class="mb-20")
            .col-sm-6.col-lg-12
              +event('event-3.jpg', 'Краснодар', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание')(class="mb-20")
            .col-sm-6.col-lg-12
              +event('event-4.jpg', 'Москва', 'Прими участие в Российско-Германском семинаре "Языковая анимация"')(class="mb-20")
  +sections-list(class="sections-list--short mt-60")