extends ../templates/template.pug
block content
  +header
  .container.mb-40.mb-sm-100
    .row
      .col-12
        +breadcrumbs('Деятельность', 'Информация о грантах')
    .row
      .col-lg-8
        .article
          .article__front
            h2.h2--white.mb-0 Информация о грантах
          h3 Подзаголовок в статье
          p 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
          p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища (колледжа) олимпийского резерва.
          blockquote Цитирование в статье или выделение важной информации х проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура фор
          img.img-fluid(src="img/article-3.jpg", alt="Picture")
          p Сотрудники Регионального молодежного центра представят оргкомитету форума проекты программ образовательных площадок форума, организаторами которых выступит Югра. На первой смене форума, которая пройдет с 20 по 25 июня, Югра представит образовательную площадку «Урал политической». На второй – федеральной – смене округ организует площадку «Урал технологичный». Отметим, что квота для югорской делегации для участия в форуме составляет 50 человек на каждую смену – в общей сложности 100 молодых югорчан примут участие в форуме «УТРО – 2018».
          p Также, на совещании будут обсуждены арт-объекты регионов, темой для которых в 2018 году выбрана тема «Личность в пространстве или пространство для личности».
          p Напомним, форума молодежи Уральского Федерального округа «УТРО – 2018» пройдет с 20 по 30 июня в Курганской области, участие в нем примут порядка 1500 молодых людей в возрасте от 18 до 35 лет. Регистрация заявок на участие в форуме уже стартовала в автоматизированной информационной системе «Молодежь России» ais.fadm.gov.ru.
          h3.mt-40 Документы
          .row
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять')
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять строк, если длинное название документа')
          .d-sm-flex.align-items-start.mt-30
            +tag('#росмолодежь')
            +tag('#росмолгрант')
            +tag('#ресурсцентр')
      .col-lg-4
        .sidebar
          h3.mb-35 Деятельность
          .sidebar__list
            h4.h4--colored.font-weight-bold.mb-20 Грантовая поддержка
            .list
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Информация о грантах
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Фонд президентских грантов
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Молодежные коллективы
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Вузы
          .sidebar__list
            h4.h4--colored.font-weight-bold.mb-20 Грантовая поддержка
            .list
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Секретариат Межведомственного совета ПКДСР
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Российское координационное бюро по молодёжным обменам с ФРГ
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Координационное бюро Российско-Японских молодежных обменов
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Международное молодежное сотрудничество
          .sidebar__list
            h4.h4--colored.font-weight-bold.mb-20 Молодежный центр «Учино»
            .list
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Новости
              a.list__item(href="#")
                .list__item-wrapper
                  span.list__item-content Контакты
          h4.font-weight-bold.h4--colored.mt-50
            a(href="#") Работа с молодежью, находящейся в социально-опасном положении
          h4.font-weight-bold.h4--colored.mt-50
            a(href="#") Организация и сопровождение международных,  всероссийских и межрегиональных мероприятий для молодёж