extends ../templates/template.pug
block content
  +header
  .container.pt-35.mb-40
    .row
      .col-12
        +front
        .border-top.border-bottom.mt-40.pt-30.pt-sm-40.pb-30.pb-sm-50
          h2.mb-30.mb-sm-50 Заголовок для краткого вступительного описания проекта
          .d-flex.align-items-start.align-items-lg-center.flex-column.flex-lg-row
            p.mb-lg-0.pr-20.pr-lg-100 В рамках международного обмена Центр организовывает и осуществляет прием молодежных делегаций Европейских стран и Ближнего зарубежья. На базе Центра осуществляется (предусмотрено) проживание участников данных мероприятий, подбор и доставка групп во Всероссийские центры.
            a.btn.btn-primary(href="#") Читать полностью
        .mt-30.mt-sm-45.mb-30.mb-sm-60
          .d-flex.align-items-center.mb-30
            h2.mb-0 Новости
            a.btn.btn-primary.ml-30(href="#") Все новости
          .row
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-3.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
    +sections-list
