extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Новости и медиа')
        .border-bottom.mb-50.pb-50
          .d-flex.align-items-center.mb-35
            h2.mb-0.mr-20 Новости
            a.btn.btn-primary(href="#") Смотреть все
          .row
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-3.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
        .border-bottom.pb-40
          .d-flex.align-items-center.mb-35
            h2.mb-0.mr-20 Видео
            a.btn.btn-primary(href="#") Смотреть все
          .row
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-1.jpg', 'Навзание видео в одну две три строки с пояснением', '')(class="news--video")
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-2.jpg', 'Выделенный заголовок видео при нажатии переходит непосрественно к плееру', '')(class="news--video")
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-3.jpg', 'Навзание видео в одну две три строки с пояснением', '')(class="news--video")
        .mb-40.mt-40
          .d-flex.align-items-center.mb-35
            h2.mb-0.mr-20 Фото
            a.btn.btn-primary(href="#") Смотреть все
          .row
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-4.jpg', 'Название альбома с фотографиями с какого либо мероприятия', '', 'news--photo')(class="news--photo")
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-5.jpg', 'Название альбома с фотографиями с какого либо мероприятия можно в три строки', '', 'news--photo')(class="news--photo")
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-6.jpg', 'Название альбома с фотографиями с какого либо мероприятия', '', 'news--photo')(class="news--photo")
  +sections-list(class="sections-list--short")