extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('Новости и медиа', 'Новости')
    .row
      .col-lg-8
        .article
          h2.mb-25 Представители Югры примут участие в совещании по организации форума «УТРО – 2018»
          +stats('4844', '22 января 2018')(class="stats--article mb-30")
          p 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
          p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища (колледжа) олимпийского резерва.
          img.img-fluid(src="img/article-2.jpg", alt="Picture")
          p Сотрудники Регионального молодежного центра представят оргкомитету форума проекты программ образовательных площадок форума, организаторами которых выступит Югра. На первой смене форума, которая пройдет с 20 по 25 июня, Югра представит образовательную площадку «Урал политической». На второй – федеральной – смене округ организует площадку «Урал технологичный». Отметим, что квота для югорской делегации для участия в форуме составляет 50 человек на каждую смену – в общей сложности 100 молодых югорчан примут участие в форуме «УТРО – 2018».
          p Также, на совещании будут обсуждены арт-объекты регионов, темой для которых в 2018 году выбрана тема «Личность в пространстве или пространство для личности».
          p Напомним, форума молодежи Уральского Федерального округа «УТРО – 2018» пройдет с 20 по 30 июня в Курганской области, участие в нем примут порядка 1500 молодых людей в возрасте от 18 до 35 лет. Регистрация заявок на участие в форуме уже стартовала в автоматизированной информационной системе «Молодежь России» ais.fadm.gov.ru.
          +stats('4844', '22 января 2018')(class="stats--article")
      .col-lg-4
        .sidebar
          h3.mb-35 Рекомендуемое
          .row
            .col-sm-6.col-lg-12
              +news('news-1.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', '')(class="sidebar__news")
            .col-sm-6.col-lg-12
              +news('news-2.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже', '')(class="sidebar__news")
            .col-sm-6.col-lg-12
              +news('', 'Название и описание новости в несколько трок или в одну две строки, ниже краткое', '')(class="news--short sidebar__news")
            .col-sm-6.col-lg-12
              +news('', 'Открыт прием заявок в Программу', '')(class="news--short sidebar__news")
  +sections-list(class="sections-list--short mt-60")