extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Новости и медиа')
        h2.mb-35 Новости
        .row
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-3.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-4.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-5.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-6.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-7.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-8.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
          .col-sm-6.col-lg-4.d-flex.pb-30.pb-sm-50
            +news('news-9.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
        .d-flex.justify-content-center.mt-30.mb-70
          a.btn.btn-primary(href="#") Загрузить еще
  +sections-list(class="sections-list--short")