extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        +breadcrumbs('', 'Пресс-центр')
        .press
          h2 Пресс-служба
          p 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
          p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища
          h2.h2--lg Пресс-кит
          .press__materials
            div
              h3.mb-15 Логотип
              +logo
              .d-flex.align-items-center.mt-15
                p.mb-0.mr-30 png, eps, ai. Архив 2 mb
                a.btn.btn-primary(href="#") Скачать
            div.mt-20.mt-sm-0
              h3 Фотографии руководства
              .press__photos
                .press__person.mr-100.pr-30
                  .press__person-photo(style="background-image: url(./img/press-person.jpg);")
                  .press__person-content
                    p.font-weight-bold.mb-0 Алексей Любцов
                    p.p--sm.mb-0 руководителя РеМЦ
                .press__photos-wrapper
                  .press__person-photo(style="background-image: url(./img/press-person.jpg);")
                  .press__person-photo(style="background-image: url(./img/press-person.jpg);")
                  .press__person-photo(style="background-image: url(./img/press-person.jpg);")
                  .press__person-photo(style="background-image: url(./img/press-person.jpg);")
              .press__photos-footer
                p.mb-20.mb-sm-0 Всего 25 фотографий. Архив 12 mb
                a.btn.btn-primary(href="#") Скачать
          h3.mt-45.mb-30 Презентации РеМЦ
          .press__presentations
            .row
              .col-sm-6.col-lg-4
                +short-document('Название документа в несколько строк возможно даже в четыре пять')(class="short-document--white")
              .col-sm-6.col-lg-4(class="short-document--white")
                +short-document('Название документа в несколько строк возможно даже в четыре пять')
              .col-sm-6.col-lg-4
                +short-document('Название документа в несколько строк возможно даже в четыре пять')(class="short-document--white")
          h2.h2--lg.mt-65.mb-40 Информация для СМИ
          +quote
          h3.mt-50.mb-40 В СМИ
          .row
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +media('media-1.jpg')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +media('media-2.jpg')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +media('media-3.jpg')
          h2.mt-55 Новости
          .row.mb-40
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')
            .col-sm-6.col-lg-4.d-flex.mb-40.mb-lg-0
              +news('news-3.jpg', 'Название и описание будущего мероприятия в одну две строки, ниже краткое описание', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')