extends ../templates/template.pug
block content
  +header
  .container.mb-50
    .row
      .col-12
        +breadcrumbs('', 'УЧИНО')
    .row
      .col-lg-8
        .article
          .article__front
            h2.h2--white.mb-0 УЧИНО
          h3 О центре УЧИНО
          p 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры.
          p В ходе совещания будут рассмотрены вопросы организации образовательных площадок, проведения конкурса молодежных проектов и формирования делегаций. Также будет представлена общая концепция форума – инфраструктура форума, образовательная и досуговая программы, бренд-бук форума. Участники совещания познакомятся с территорией проведения форума, который в 2018 году пройдет на базе гостиничного комплекса Курганского училища (колледжа) олимпийского резерва.
          p Сотрудники Регионального молодежного центра представят оргкомитету форума проекты программ образовательных площадок форума, организаторами которых выступит Югра. На первой смене форума, которая пройдет с 20 по 25 июня, Югра представит образовательную площадку «Урал политической». На второй – федеральной – смене округ организует площадку «Урал технологичный». Отметим, что квота для югорской делегации для участия в форуме составляет 50 человек на каждую смену – в общей сложности 100 молодых югорчан примут участие в форуме «УТРО – 2018».
          h3 Документы
          .row
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять')
            .col-sm-6
              +short-document('Название документа в несколько строк возможно даже в четыре пять строк, если длинное название документа')
          h3.mt-35 Контакты
          +map(class='map--lg')
          .row.mt-30
            .col-sm-4.mb-20.mb-sm-0
              p.p--sm.font-weight-bold.mb-10 Адрес:
              p.p--sm.mb-0 117593, г. Москва, Литовский бульвар, дом 11, корпус 3 (метро «Ясенево»)
            .col-sm-4.mb-20.mb-sm-0
              p.p--sm.font-weight-bold.mb-10 Телефоны:
              p.p--sm.mb-0 +7 (495) 425-39-66, <br>+7 (495) 427-91-44 Администратор <br>+7 (495) 425-67-11 Факс
            .col-sm-4.mb-20.mb-sm-0
              p.p--sm.font-weight-bold.mb-10 E-mail:
              p.p--sm.mb-0
                a.a--dark(href="#") mmc@fadm.gov.ru
      .col-lg-4
        .sidebar
          h3.mb-35 Новости УЧИНО
          .row
            .col-sm-6.col-lg-12
              +news('news-1.jpg', 'Прими участие в Российско-Германском семинаре "Языковая анимация"', 'Языковая анимация – это метод, использующий естественные коммуникативные ситуации, чтобы способствовать интеграции участников внутри группы и передаче базовых')(class="sidebar__news")
            .col-sm-6.col-lg-12
              +news('news-2.jpg', 'Открыт прием заявок в Программу российско-германских молодежных обменов на 2018 год', 'Программа российско-германских молодежных обменов реализуется ежегодно в соответствии с Соглашением между Правительством Российской Федерации и Правительством Федера')(class="sidebar__news")