mixin event(picture, city, title, modifier)
  .event(style="background-image: url(./img/" + picture + ");")&attributes(attributes)
    .event__top
      p.p--white.p--sm.mb-5 22 января 2018
      p.p--white.p--sm.mb-20= city
    .event__wrapper
      h4.event__title.h4--white.mb-0= title
      .event__content.mt-20
        p.p--white.mb-20 23 марта в Курганской области пройдет совещание по вопросам организации форума молодежи Уральского Федерального округа «УТРО – 2018», участие в котором примут сотрудники Регионального молодежного центра Югры...
        a.btn.btn-primary(href="#") К мероприятию