.event {
  background-size: cover;
  background-position: top center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 385px;
  padding: 30px 25px;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    height: 340px;
  }
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(#000, .56);
    border-radius: 10px;
  }
  
  &:hover {
    background: #1f477f!important;
    width: 120%;
    margin-left: -10%;
    height: 445px;
    margin-top: -60px;
    position: relative;
    top: 30px;
    z-index: 3;
    justify-content: flex-start;
    padding: 50px 40px;

    @include media-breakpoint-down(lg) {
      padding: 20px;
      width: auto!important;
      height: 385px;
      margin-top: 0;
      position: static;
      margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
    }
    
    &:before {
      display: none;
    }
    
    .event__title {

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    
    .event__content {
      display: block;
    }
  }
  
  &__top {
    position: relative;
    z-index: 2;
  }
  
  &__wrapper {
    position: relative;
    z-index: 2;
  }
  
  &__content {
    display: none;
  }
}
