mixin media(picture, modifier)
  a.media(href="#")&attributes(attributes)
    .media__picture(style="background-image: url(./img/" + picture + ");")
    .d-flex.align-items-center.justify-content-between.mb-20
      h4.font-weight-bold.mb-0 Викторова Александра
      p.p--sm.font-weight-light.mb-0 22 января 2018
    p.mb-0 Описание выступления с кратким содержанием водну две строки
