.media {
  
  &:hover {
    
    .media__picture {
      opacity: .8;
    }
  }
  
  &__picture {
    height: 220px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: top center;
    @include transition;
  }
}
