.logo {
  width: 239px;
  height: 111px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  display: block;
  
  &--white {
    width: 209px;
    height: 69px;
    background: url(../img/logo--white.png) no-repeat;
    background-size: contain;
  }
}
