.front {

  &__item {

  }

  &__wrapper {
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__grants {
    background: gray;
    position: relative;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__grants-header {
    font-size: 66px;
    font-weight: 700;
    font-family: $font-secondary;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 5px 5px rgba(#404a75, .58);
    position: absolute;
    bottom: 75px;
    z-index: 1;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__winners-list {
    display: flex;
    height: 100%;
    position: relative;

    @include media-breakpoint-down(sm) {
      height: 400px;
    }
  }

  &__content {
    width: 363px;
//    padding: 45px 50px;
    padding: 25px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: url(../img/dots--front-top.png) no-repeat top right, url(../img/dots--front-bottom.png) no-repeat bottom left;
    background-color: $secondary;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(md) {
      padding: 20px;
      width: 300px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      flex-grow: 1;
    }
  }

  &__content-header {
    color: #fff;
//    font-size: 42px;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 40px;
    line-height: 32px;

    @include media-breakpoint-down(md) {
      font-size: 27px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 29px;
    }
  }
}
