mixin front(modifier)
  .front&attributes(attributes)
    .front__item
      .front__wrapper
        .front__grants
          h1.front__grants-header Грантовая поддержка
          .front__winners-list
            +winner('winner-1.jpg', 'Елена, 21 год', '300 000 р.')
            +winner('winner-2.jpg', 'Михаил, 18 лет', '100 000 р.')
            +winner('winner-3.jpg', 'Виктория, 20 лет', '50 000 р.')
            +winner('winner-4.jpg', 'Роман, 23 года', '160 000 р.')
            +winner('winner-5.jpg', 'Юлия, 28 лет', '350 000 р.')
        .front__content
          .front__content-top
            h2.front__content-header Взаимодействие с молодыми соотечественниками, проживающими за рубежом
            p.p--white.font-weight-light.mb-55 Участвуйте в конкурсах грантовой поддержки для молодежи и получайте ресурсы для реализации Ваших идей
          a.btn.btn-primary(href="#") Подробнее
      p.font-weight-light.mt-20.mb-0.mb-sm-25 Условия  получения грантов уточняйте на сайте 
        a(href="rosmolgrant.ru") rosmolgrant.ru 
        | можно еще немного текста не больше одной строки
    .front__item
      .front__wrapper
        .front__grants
          h1.front__grants-header Грантовая поддержка
          .front__winners-list
            +winner('winner-1.jpg', 'Елена, 21 год', '300 000 р.')
            +winner('winner-2.jpg', 'Михаил, 18 лет', '100 000 р.')
            +winner('winner-3.jpg', 'Виктория, 20 лет', '50 000 р.')
            +winner('winner-4.jpg', 'Роман, 23 года', '160 000 р.')
            +winner('winner-5.jpg', 'Юлия, 28 лет', '350 000 р.')
        .front__content
          .front__content-top
            h2.front__content-header Молодежный центр «Учино»
            //p.p--white.font-weight-light.mb-55 Участвуйте в конкурсах грантовой поддержки для молодежи и получайте ресурсы для реализации Ваших идей
          a.btn.btn-primary(href="#") Подробнее
      p.font-weight-light.mt-20 Условия  получения грантов уточняйте на сайте 
        a(href="rosmolgrant.ru") rosmolgrant.ru 
        | можно еще немного текста не больше одной строки
    .front__item
      .front__wrapper
        .front__grants
          h1.front__grants-header Грантовая поддержка
          .front__winners-list
            +winner('winner-1.jpg', 'Елена, 21 год', '300 000 р.')
            +winner('winner-2.jpg', 'Михаил, 18 лет', '100 000 р.')
            +winner('winner-3.jpg', 'Виктория, 20 лет', '50 000 р.')
            +winner('winner-4.jpg', 'Роман, 23 года', '160 000 р.')
            +winner('winner-5.jpg', 'Юлия, 28 лет', '350 000 р.')
        .front__content
          .front__content-top
            h2.front__content-header Международное молодежное сотрудничество
            //p.p--white.font-weight-light.mb-55 Участвуйте в конкурсах грантовой поддержки для молодежи и получайте ресурсы для реализации Ваших идей
          a.btn.btn-primary(href="#") Подробнее
      p.font-weight-light.mt-20 Условия  получения грантов уточняйте на сайте 
        a(href="rosmolgrant.ru") rosmolgrant.ru 
        | можно еще немного текста не больше одной строки
    .front__item
      .front__wrapper
        .front__grants
          h1.front__grants-header Грантовая поддержка
          .front__winners-list
            +winner('winner-1.jpg', 'Елена, 21 год', '300 000 р.')
            +winner('winner-2.jpg', 'Михаил, 18 лет', '100 000 р.')
            +winner('winner-3.jpg', 'Виктория, 20 лет', '50 000 р.')
            +winner('winner-4.jpg', 'Роман, 23 года', '160 000 р.')
            +winner('winner-5.jpg', 'Юлия, 28 лет', '350 000 р.')
        .front__content
          .front__content-top
            h2.front__content-header Секретариат Всероссийского конкурса молодежных проектов
            //p.p--white.font-weight-light.mb-55 Участвуйте в конкурсах грантовой поддержки для молодежи и получайте ресурсы для реализации Ваших идей
          a.btn.btn-primary(href="#") Подробнее
      p.font-weight-light.mt-20 Условия  получения грантов уточняйте на сайте 
        a(href="rosmolgrant.ru") rosmolgrant.ru 
        | можно еще немного текста не больше одной строки