.activity {
  padding: 30px 45px 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  
  &+& {
    margin-top: 25px;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__link {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
    
    &:hover {
      color: #fff;
      
      .activity__link-content {
        border-color: transparent;
      }
    }
    
    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: $primary;
      border-radius: 50%;
      margin-right: 20px;
      margin-top: 7px;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        flex-shrink: 0;
      }
    }
    
    &+& {
      margin-top: 20px;
    }
  }
  
  &__link-content {
    border-bottom: 2px solid $primary;
  }
}
