mixin activity(picture, title, link1, link2, link3, link4, modifier)
  .activity(style="background-image: url(./img/" + picture + ");")&attributes(attributes)
    h2.h2--white.mb-35= title
    .activity__list
      a.activity__link(href="#")
        .activity__link-wrapper
          span.activity__link-content= link1
      a.activity__link(href="#")
        .activity__link-wrapper
          span.activity__link-content= link2
      a.activity__link(href="#")
        .activity__link-wrapper
          span.activity__link-content= link3
      a.activity__link(href="#")
        .activity__link-wrapper
          span.activity__link-content= link4
