.map {
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
  
  &__content {
    width: 100%;
    height: 100%;
    
    & > ymaps {
      height: 100%!important;
    }

    @include media-breakpoint-down(sm) {
      min-height: 250px;
    }
  }
  
  &--lg {
    height: 330px;
  }
}
