mixin map(modifier)
  .map&attributes(attributes)
    .map__content
      script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0f7f248b8836a5b72eb225f3cde57b13d94fa7131e579f8c92955680e8394087&width=100%25&height=257&lang=ru_RU&scroll=true')
