.quote {
  padding: 40px 40px 40px 385px;
  display: flex;
  justify-content: space-between;
  position: relative;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/quote-bg.jpg) no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
      opacity: .4;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-left: 320px;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding: 20px;
  }
  
  &__column {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      max-width: 250px;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }
    
    &+& {

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
    
    &--right {
      
      align-items: flex-end;
    }
  }
  
  &__header {
    color: #404a75;
    font-size: 42px;
    font-family: $font-secondary;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 36.28px;
  }
  
  &__subheader {
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
  } 
}