mixin quote(modifier)
  .quote&attributes(attributes)
    .quote__column
      h2.quote__header Вступительная речь
      span.quote__subheader Директор ФГБУ «Ресурсный Молодежный Центр», Алексей Любцов
    .quote__column.quote__column--right
      p На сегодняшний день, молодежь – движущая сила Российской Федерации. Благодаря активным и целеустремленным молодым людям наша страна развивается и прогрессирует
      a.btn.btn-primary(href="#") Читать полностью
