mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link(href="#") Новости
      a.menu__link(href="#") О Центре
      a.menu__link(href="#") Деятельность
      a.menu__link(href="#") Грантовая поддержка
      a.menu__link(href="#") Мероприятия
      a.menu__link(href="#") Медиа
      a.menu__link(href="#") Пресс-служба
      a.menu__link(href="#") Учино
      a.menu__link(href="#") Документы
      a.menu__link(href="#") Контакты