.menu {
  border-bottom: 2px solid $secondary;
  padding-bottom: 15px;
  
  &__btn {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2;
    }
    
    &--active {
      background: url(../img/close.svg) no-repeat center;
      background-size: 80%;
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(sm) {
      display: none;
    }
    
    &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
  }

  &__link {
    color: $secondary;
    font-family: $font-secondary;
    font-size: 18px;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
    
    &+& {

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }
  
  &--footer {
    padding-bottom: 0;

    @include media-breakpoint-down(sm) {
      display: none!important;
    }
    
    .menu__content {
      flex-direction: column;
    }
    
    .menu__link {
      color: #fff;
      font-size: 13px;
      line-height: 22px;
      @include transition;

      &:hover {
        color: $primary;
      }
    }
  }
}
