.list {
  
  &__item {
    color: #273d81;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: $primary;
      border-radius: 50%;
      margin-right: 14px;
      margin-top: 5px;
      flex-shrink: 0;
    }
    
    &+& {
      margin-top: 15px;
    }
  }
  
  &__item-content {
    border-bottom: 2px solid transparent;
    display: inline;
    
    &:hover {
      border-color: $primary;
    }
  }
}
