.winner {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: top center;

  @include media-breakpoint-down(lg) {
    width: 25%;
    flex-shrink: 0;
  }

  @include media-breakpoint-down(md) {
    width: 33.33%;
  }

  @include media-breakpoint-down(sm) {
    width: 50%;
  }

  &__name {
    color: #fff;
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__grant {
    margin-top: 5px;
    color: $primary;
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 700;
  }
}
