.header {
  background: url(../img/dots--header.png) no-repeat top center;
  background-size: 228px 114px;

  @include media-breakpoint-down(sm) {
    background: #fff;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__fadm {
      width: 153px;
      height: 34px;
      background: url(../img/fadm-logo.png) no-repeat center;
      background-size: contain;
      display: block;
      margin-left: 54px;
  }
}
