mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content
            +logo
            .header__right
              a.btn.btn-primary(href="#") Грантовая поддержка
              a.header__fadm(href="#")
          +menu