.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__views {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    
    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 11px;
      background: url(../img/eye.png) no-repeat;
      background-size: contain;
      margin-right: 5px;
    }
  }
  
  &__date {
    color: #000;
    font-size: 13px;
    font-weight: 300;
  }
  
  &--article {
    justify-content: flex-start;
    
    .stats__views {
      order: 2;
      margin-left: 40px;
    }
    
    .stats__date {
      order: 1;
    }
  }
}
